@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
@font-face {
    font-family: 'blackgold';
    src: local('Blackgold-qGAl'), url('../fonts/Blackgold-qGAl.otf') format('opentype')
}

html {
    padding: 0;
    margin: 0;
}

body {
    background: black linear-gradient(#181A18, #333333);
    overflow-x: hidden;
}